<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/JFuzzyControlLanguage/src/org/fcl/application/component/Main.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="org.fcl.application.component.Main"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="-Dsun.java2d.opengl=true&#13;&#10;    -Dsun.java2d.d3d=false&#13;&#10;    -Dsun.java2d.noddraw=true"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="JFuzzyControlLanguage"/>
</launchConfiguration>
